<section id="features">
  <header>
    <h2>Cards</h2>
    <p>A few, clean styling options without all the bells and whistles</p>
  </header>

  <div class="cards">
    <div class="card">
      <figure>
        <img alt="HTML only" src="/img/image-1.jpg" height="150">
        <figcaption>
          Running
        </figcaption>
      </figure>
      <div class="card-body">
        <h3>HTML and You're Done</h3>
        <p>MVP styles your root HTML elements, so you don't need to learn a new CSS framework or naming
                    conventions.</p>
        <div class="card-actions">
          <a href="#" class="button">Read more</a>
        </div>
      </div>
    </div>

    <div class="card">
      <figure>
        <img alt="Mobile friendly" src="/img/image-2.jpg" height="150">
        <figcaption>
          Mobile Friendly
        </figcaption>
        <figure>
          <div class="card-body">
            <h3>Mobile-friendly UI</h3>
            <p>MVP is designed to look great on all browsers and devices out of the box for rapid prototyping.
                </p>
            <p>It's like an amped up CSS reset that you can toss into any project to get decent styling.</p>
            <div class="card-actions">
              <a href="#" class="button">Read more</a>
            </div>
          </div>
        </div>

        <div class="card">
          <figure>
            <img alt="MIT license" src="/img/image-3.jpg" height="150">
            <figcaption>
         MIT License
        </figcaption>
          </figure>
          <div class="card-body">
            <h3>MIT License</h3>
            <p>MVP is released under the permissive MIT license so you can freely use it however you'd like.</p>
            <p>That means personal projects, commercial ventures, remixes and more are all welcome.</p>
            <div class="card-actions">
              <a href="#" class="button">Read more</a>
            </div>
          </div>
        </div>

        <div class="card">
          <figure>
            <img alt="Mobile friendly" src="/img/image-2.jpg" height="150">
            <figcaption>
          MVP
        </figcaption>
          </figure>
          <div class="card-body">
            <h3>Mobile-friendly UI</h3>
            <p>MVP is designed to look great on all browsers and devices out of the box for rapid prototyping.
                </p>
            <p>It's like an amped up CSS reset that you can toss into any project to get decent styling.</p>
            <div class="card-actions">
              <a href="#" class="button">Read more</a>
            </div>
          </div>
        </div>

      </div>
    </section>
