<section class="page-footer">
  <div>
    <h3>Resources 1</h3>
    <ul>
      <li>
        <a href="#">Item 1</a>
      </li>
      <li>
        <a href="#">Item 2</a>
      </li>
      <li>
        <a href="#">Item 3</a>
      </li>
      <li>
        <a href="#">Item 4</a>
      </li>
      <li>
        <a href="#">Item 5</a>
      </li>
    </ul>
  </div>
  <div>
    <h3>Resources 2</h3>
    <ul>
      <li>
        <a href="#">Item 1</a>
      </li>
      <li>
        <a href="#">Item 2</a>
      </li>
      <li>
        <a href="#">Item 3</a>
      </li>
      <li>
        <a href="#">Item 4</a>
      </li>
      <li>
        <a href="#">Item 5</a>
      </li>
    </ul>
  </div>
  <div>
    <h3>Resources 3</h3>
    <ul>
      <li>
        <a href="#">Item 1</a>
      </li>
      <li>
        <a href="#">Item 2</a>
      </li>
      <li>
        <a href="#">Item 3</a>
      </li>
      <li>
        <a href="#">Item 4</a>
      </li>
      <li>
        <a href="#">Item 5</a>
      </li>
    </ul>
  </div>
  <div>
    <h3>Newsletter Sign-up</h3>
    <p>Monthly digest of what's new and exciting from us.</p>
    <form>
      <label for="email-address" data-display="hidden">Email address</label>
      <input id="email-address" type="email" placeholder="Email address">
      <button type="submit">Subscribe</button>
    </form>
  </div>
</section>
