---
layout: base.njk
title: Basic Test Site - Design System
nav: design
---
<header>
  {% include "top_social_media.njk" %}
  {% include "top_nav.njk" %}
</header>
<main>
  <section class="design-system">
    {% include "examples.njk" %}
    <section></main>
    <footer>
      {% include "footer_large.njk" %}
      {% include "footer_bottom.njk" %}
    </footer>
