---
layout: base.njk
title: Basic Test Site - Home
---

<main>
  {% include "hero.njk" %}
  <hr>
  {% include "gallery.njk" %}
  <hr>
  {% include "table.njk" %}
  <hr>
  {% include "two_column.njk" %}
  <hr>
  {% include "cards.njk" %}
  <hr>
</main>

