---
layout: base.njk
title: Basic Test Site - Home
---
<header>
  {% include "top_social_media.njk" %}
  {% include "top_nav.njk" %}
</header>
<main>
  {% include "hero.njk" %}
  <hr>
  {% include "gallery.njk" %}
  <hr>
  {% include "two_column.njk" %}
  <hr>
  {% include "cards.njk" %}
  <hr>
  {% include "table.njk" %}
  <hr>
</main>
<footer>
  {% include "footer_large.njk" %}
  {% include "footer_bottom.njk" %}
</footer>

<hr>

<section class="design-system">
  {% include "examples.njk" %}
  <section>
