---
layout: base.njk
title: Basic Test Site - Home
---
{% include "header.njk" %}
<main>
  {% include "two_column.njk" %}
  <hr>
  {% include "cards.njk" %}
  <hr>
  {% include "hero.njk" %}
  <hr>
  {% include "gallery.njk" %}
  <hr>
  {% include "table.njk" %}
  <hr>
</main>
{% include "footer.njk" %}
