/* Inspired by: MVP.css v1.12 - https://github.com/andybrewer/mvp */

@import url("~icons/font/bootstrap-icons.min.css");

:root {
  --active-brightness: 0.85;
  --body-font-size: 16px;
  --border-radius: 0.375rem;
  --box-shadow: 2px 2px 10px;
  --color-accent: #118bee15;
  --color-bg: #fff;
  --color-bg-secondary: #a8a19e;
  --color-link: #118bee;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #f4f4f4;
  --color-table: #118bee;
  --color-text: #000;
  --color-text-secondary: #999;
  --font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.5;
  --width-card: 16rem;
  --width-card-medium: 20rem;
  --width-card-wide: 25rem;
  --width-content: 70rem;
}

@media (prefers-color-scheme: dark) {
  :root[color-mode="user"] {
    --color-accent: #0097fc4f;
    --color-bg: #333;
    --color-bg-secondary: #555;
    --color-link: #0097fc;
    --color-secondary: #e20de9;
    --color-secondary-accent: #e20de94f;
    --color-shadow: #bbbbbb20;
    --color-table: #0097fc;
    --color-text: #f7f7f7;
    --color-text-secondary: #aaa;
  }
}

* {
  box-sizing: border-box;
}

[data-display="hidden"] {
  display: none;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--body-font-size);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

h1,
h2,
h3,
ul,
footer,
header,
main {
  margin: 0 auto;
  max-width: var(--width-content);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: list-item;
}

/* Links */
a {
  color: var(--color-link);
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  filter: brightness(var(--active-brightness));
}

a:hover {
  filter: brightness(var(--hover-brightness));
}

/* Typography */

/* Quotes */
blockquote {
  display: block;
  font-size: x-large;
  line-height: var(--line-height);
  max-width: var(--width-card-medium);
  margin: auto 0;
  padding: 1.5rem 1rem;
  text-align: var(--justify-important);
  background-color: var(--color-bg);
  border-radius: var(--border-radius);
}

blockquote cite {
  color: var(--color-text-secondary);
  display: block;
  font-size: small;
  line-height: var(--line-height);
  padding: 1.5rem 0;
}

/* Tables */
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-important);

  & table {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    border-spacing: 0;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;
  }

  & table td,
  & table th,
  & table tr {
    padding: 0.4rem 0.8rem;
    text-align: var(--justify-important);
  }

  & table thead {
    background-color: var(--color-table);
    border-collapse: collapse;
    border-radius: var(--border-radius);
    color: var(--color-bg);
    margin: 0;
    padding: 0;
  }

  & table thead th:first-child {
    border-top-left-radius: var(--border-radius);
  }

  & table thead th:last-child {
    border-top-right-radius: var(--border-radius);
  }

  & table thead th:first-child,
  & table tr td:first-child {
    text-align: var(--justify-normal);
  }

  & table tr:nth-child(even) {
    background-color: var(--color-accent);
  }
}

hr {
  background-color: var(--color-bg-secondary);
  border: none;
  height: 0.25rem;
}

/* Forms */

label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

form {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  display: block;
  max-width: var(--width-card-wide);
  min-width: var(--width-card);
  padding: 1.5rem;
  text-align: var(--justify-normal);
}

form header {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

input,
label,
select,
textarea {
  display: block;
  font-size: inherit;
  max-width: var(--width-card-wide);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  font-weight: normal;
  position: relative;
  top: 1px;
}

input[type="range"] {
  padding: 0.4rem 0;
}

input,
select,
textarea {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

input[type="text"],
textarea {
  width: calc(100% - 1.6rem);
}

input[readonly],
textarea[readonly] {
  background-color: var(--color-bg-secondary);
}

button:disabled,
input:disabled {
  background: var(--color-bg-secondary);
  border-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}

button[disabled]:hover,
input[type="submit"][disabled]:hover {
  filter: none;
}

img,
svg {
  vertical-align: middle;
}

/* Page Headers */

.social-media {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem 0;
  list-style: none;
  background-color: var(--color-bg-secondary);
  padding: 1rem;
}

/* Nav */
.header-nav {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-bg-secondary);
}

.header-nav_list {
  list-style: none;
  padding: 0;
}

.header-nav_list li {
  display: inline-block;
  margin: 0 0.5rem;
  position: relative;
  text-align: left;
}

/* Nav Dropdown */

.header-nav_list li ul {
  background: var(--color-bg);
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  display: none;
  height: auto;
  left: -2px;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 1.7rem;
  white-space: nowrap;
  width: auto;
  z-index: 1;
}

.header-nav_list li:hover ul {
  display: block;
}

.header-nav_list li ul::before {
  /* fill gap above to make mousing over them easier */
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -0.5rem;
  height: 0.5rem;
}

.header-nav .button,
.header-nav_list li a {
  display: block;
  text-decoration: none;
}

.header-nav .button {
  border: 1px solid var(--color-bg-secondary);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-bg-secondary);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-important);

  & header {
    padding-top: 0;
    width: 100%;
  }

  & aside {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: var(--width-card);
  }

  & aside:hover {
    box-shadow: var(--box-shadow) var(--color-bg-secondary);
  }
}

.hero {
  box-shadow: var(--box-shadow) var(--color-shadow);
  padding: 0.5rem;
  background-image: url("/img/image-14.jpg");
  background-position: right top;
  border-radius: var(--border-radius);
}

.gallery {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: dense;
  grid-auto-rows: 250px;

  /* & img {
    max-width: 100%;
    height: auto;
  } */

  & figure {
    display: block;
  }
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  padding: 15px;

  & img {
    max-width: 100%;
    height: auto;
  }
}

/* page footer */

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & div {
    flex: 0 0 auto;
  }

}
