<section>
  <header>
    <h2>About Us</h2>
  </header>
  <div class="cards">

    <div class="card card-side">
      <figure>
        <img alt="Stock photo" src="/img/image-11.jpg">
        <figcaption>
          <i>Running</i>
        </figcaption>
      </figure>
      <div class="card-body">
        <h3>Card title Body</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut fuga quasi incidunt molestias, aliquam accusantium deserunt earum explicabo necessitatibus quod et reprehenderit veritatis ducimus cum itaque optio, voluptatem dolore consequuntur.</p>
        <div class="card-actions">
          <a class="button" href="#">Read more</a>
        </div>
      </div>
    </div>

    <div class="card card-side">
      <figure>
        <img alt="Stock photo" src="/img/image-2.jpg">
        <figcaption>
          <i>"Uber for X" brainstorming session</i>
        </figcaption>
      </figure>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut fuga quasi incidunt molestias, aliquam accusantium deserunt earum explicabo necessitatibus quod et reprehenderit veritatis ducimus cum itaque optio, voluptatem dolore consequuntur.</p>
        <div class="card-actions">
          <a href="#" class="button">Read more</a>
        </div>
      </div>
    </div>

    <div class="card card-side">
      <figure>
        <img alt="Stock photo" src="/img/image-5.jpg">
        <figcaption>
          <i>Random pict</i>
        </figcaption>
      </figure>
      <div class="card-body">
        <p>it amet consectetur adipisicing elit. Ut fuga quasi incidunt molestias, aliquam accusantium deserunt earum explicabo necessitatibus quod et reprehenderit veritatis ducimus cum itaque optio, voluptatem dolore consequuntu </p>
        <div class="card-actions">
          <a href="#" class="button">Read more</a>
        </div>
      </div>
    </div>

    <div class="card card-side">
      <figure>
        <img alt="Stock photo" src="/img/image-10.jpg">
        <figcaption>
          <i>Running</i>
        </figcaption>
      </figure>
      <div class="card-body">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel voluptas temporibus modi, a, eveniet iste minima aut quae saepe, quos sint? Fugit sequi unde, recusandae accusamus impedit provident est repellendus.</p>
        <div class="card-actions">
          <a href="#" class="button">Read more</a>
        </div>
      </div>
    </div>

    <div class="card card-side">
      <figure>
        <img alt="Stock photo" src="/img/image-4.jpg">
        <figcaption>
          <i>Very random</i>
        </figcaption>
      </figure>
      <div class="card-body">
        <p>it amet consectetur adipisicing elit. Ut fuga quasi incidunt molestias, aliquam accusantium deserunt earum explicabo necessitatibus quod et reprehenderit veritatis ducimus cum itaque optio, voluptatem dolore consequuntu </p>
        <div class="card-actions">
          <a href="#" class="button">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
