<section>
  <header>
    <h2>About Us</h2>
  </header>
  <div class="two-column">
    <div>
      <figure>
        <img alt="Stock photo" src="/img/image-11.jpg">
        <figcaption>
          <i>Running</i>
        </figcaption>
      </figure>

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel voluptas temporibus modi, a, eveniet iste minima aut quae saepe, quos sint? Fugit sequi unde, recusandae accusamus impedit provident est repellendus.</p>
    </div>
    <div>
      <figure>
        <img alt="Stock photo" src="/img/image-12.jpg">
        <figcaption>
          <i>"Uber for X" brainstorming session</i>
        </figcaption>
      </figure>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut fuga quasi incidunt molestias, aliquam accusantium deserunt earum explicabo necessitatibus quod et reprehenderit veritatis ducimus cum itaque optio, voluptatem dolore consequuntur.</p>
    </div>
    <div>
      <figure>
        <img alt="Stock photo" src="/img/image-13.jpg">
        <figcaption>
          <i>"Uber for X" brainstorming session</i>
        </figcaption>
      </figure>

      <p>it amet consectetur adipisicing elit. Ut fuga quasi incidunt molestias, aliquam accusantium deserunt earum explicabo necessitatibus quod et reprehenderit veritatis ducimus cum itaque optio, voluptatem dolore consequuntu </p>
    </div>
  </div>
</section>
