~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

ACT Nappanee-Wakarusa
"Advancing Community Together in Nappanee and Wakarusa"
     Mail to:  ACT, 251 E Market Street, Nappanee, IN 46550
     email: ACTNappaneeWakarusa@gmail.com
       phone:  574-221-0364
              (leave a message, and your phone number & we will call you back)

Our volunteer room is at 251 E. Market Street, Nappanee.
If you'd like to hold a function or meeting of concerned citizens there, let us know.
And we have plenty of chairs for backyard meetings too.

Our social media outreach:
     https://www.youtube.com/channel/UCNSUS4vBxKGjV5qvnFdTc3w
               Take a few minutes to view our past programs & speakers!
     https://www.facebook.com/groups/actnappaneewakarusa
               Join our PRIVATE facebook page

CONTACT INFORMATION

Barbara Keck,  Chair:  Cell 574 354 3169
      email:   Barbara.a.keck@gmail.com
Charlie Burkley, Vice Chair:  Cell 574 903 9278
      email:  charlieburkley@gmail.com
Lina Blosser,  Secretary:  Cell 574 903 1137
       email: linabean520@gmail.com
Tessa Parshall, Treasurer:   Cell 574 238 4880
        email: tessaparshall@gmail.com

--
Barbara Keck
Cell 650 222 4342
