<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <meta name="description" content="{{description}}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png"/>
    <link rel="preload" as="style" href="/css/styles.scss">
    <link rel="stylesheet" href="/css/styles.scss">
  </head>

  <body class="rwd-tutorial">
    {{ content | safe }}
  </body>
  <script>
    const dialogEle = document.getElementById("dialogEle");
    const launchBtn = document.getElementById("launchDialog");
    const formResult = document.getElementById("formResult");
    launchBtn.addEventListener("click", () => dialogEle.showModal());
    dialogEle.addEventListener("close", () => {
      formResult.textContent = dialogEle.returnValue;
    });
  </script>

</html>
