<section id="features" class="cards">
  <header>
    <h2>Flexibility without complexity</h2>
    <p>A few, clean styling options without all the bells and whistles</p>
  </header>
  <aside>
    <img alt="HTML only" src="/img/image-1.jpg" height="150">
    <h3>HTML and You're Done</h3>
    <p>MVP styles your root HTML elements, so you don't need to learn a new CSS framework or naming
                    conventions.</p>
  </p>
</aside>
<aside>
  <img alt="Mobile friendly" src="/img/image-2.jpg" height="150">
  <h3>Mobile-friendly UI</h3>
  <p>MVP is designed to look great on all browsers and devices out of the box for rapid prototyping.
                </p>
  <p>It's like an amped up CSS reset that you can toss into any project to get decent styling.</p>
</aside>
<aside>
  <img alt="MIT license" src="/img/image-3.jpg" height="150">
  <h3>MIT License</h3>
  <p>MVP is released under the permissive MIT license so you can freely use it however you'd like.</p>
  <p>That means personal projects, commercial ventures, remixes and more are all welcome.</p>
</aside>
</section>
