<div>
  <h2>Typography</h2>
  <h1>
    <span>h1:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h1>
  <h2>
    <span>h2:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h2>
  <h3>
    <span>h3:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h3>
  <h4>
    <span>h4:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h4>
  <h5>
    <span>h5:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h5>
  <h6>
    <span>h6:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h6>
  <p>
    <span>p:</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, ipsum! Aliquid porro dolor deserunt corporis soluta inventore libero dolore sapiente ullam distinctio voluptas illo aspernatur iure officiis eveniet quia ipsam, voluptate debitis cumque. Quasi eveniet blanditiis minus rerum, rem iure fugiat. Quae nesciunt rem at optio minus consectetur quos aut.</p>
</div>

<div class="colors">
  <h2>Colors</h2>
  <ul>
    <li>Color Text</li>
    <li>Color Text Secondary</li>
    <li>Background Color</li>
    <li>Background Color Secondary</li>
    <li>Color Accent</li>
    <li>Color Secondary Accent</li>
    <li>
      <a href="#">Color link</a>
    </li>
    <li>Color Shadow</li>
    <li>Color Table</li>
    <li>Color Secondary</li>
  </ul>
</div>

<div class="buttons">
  <h2>Buttons</h2>
  <div>
    <button>Button</button>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
    <button type="submit" disabled>Disabled</button>
  </div>
</div>

<div>
  <h2>Form</h2>
  <form>
    <header>
      <h2>Form</h2>
      <p>Fill out the form below to submit your answers.</p>
    </header>
    <label for="company">A company you like:</label>
    <input type="text" id="company" name="company" size="28" placeholder="Company name">
    <label for="hobby">A hobby you like:</label>
    <textarea cols="28" rows="2" id="hobby"></textarea>
    <label for="model">Business Model:</label>
    <select id="model">
      <option value="bootstrapped">bootstrapped</option>
      <option value="VC-backed">funded</option>
    </select>
    <fieldset>
      <legend>Fieldset</legend>
      <label>Team Size:</label>
      <input type="radio" id="founders-solo" name="founders" value="a solo founder" checked>
      <label
          for="founders-solo">Solo</label>
      <input type="radio" id="founders-co" name="founders" value="two co-founders">
      <label
          for="founders-co">Co-founders</label>
      <label>Focus:</label>
      <input type="checkbox" id="focus-price" name="focus[]" value="price" checked>
      <label
          for="focus-price">Price</label>
      <input type="checkbox" id="focus-service" name="focus[]" value="service">
      <label
          for="focus-service">Service</label>
      <input type="checkbox" id="focus-features" name="focus[]" value="features">
      <label
          for="focus-features">Features</label>
      <label for="valuation">Valuation:</label>
      <input type="range" id="valuation" name="valuation" value="50"/>
    </fieldset>
    <br>
    <button type="submit" id="show">Submit</button>
  </form>
</div>
