<section class="page-footer">
  <div>
    <h3>Resources 1</h3>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
    </ul>
  </div>
  <div>
    <h3>Resources 2</h3>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
    </ul>
  </div>
  <div>
    <h3>Resources 3</h3>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
    </ul>
  </div>
  <div>
    <h3>Newsletter Sign-up</h3>
    <p>Monthly digest of what's new and exciting from us.</p>
    <form>
      <label for="email-address" data-display="hidden">Email address</label>
      <input id="email-address" type="email" placeholder="Email address">
      <button type="submit">Subscribe</button>
    </form>
  </div>
</section>
