<section class="page-footer">
  <section>
    <header>
      <h2>Resources</h2>
    </header>
    <div>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
      </ul>
    </div>
  </section>
  <section>
    <header>
      <h2>Newsletter Signup</h2>
    </header>
    <div>
      <form>
        <input type="text" placeholder="Email"/>
        <textarea placeholder="Email Address"></textarea>
        <button>Send</button>
      </form>
    </div>
  </section>
</section>
