<footer>
  <section>
    <div>
      <h5>Section 1</h5>
    </div>
    <div>
      <h5>Section 2</h5>
    </div>
    <div>
      {% include "contact.njk" %}
    </div>
  </section>
  <section>
    <p>© 2023 Company, Inc. All rights reserved.</p>
    <ul>
      <li>
        <a href="twitter">Twitter</a>
      </li>
      <li>
        <a href="facebook">Facebook</a>
      </li>
      <li>
        <a href="youtube">YouTube</a>
      </li>
    </ul>
  </section>
</footer>
