<section class="gallery">
  <header>
    <h2>Gallery</h2>
    <p>Some of our best photos</p>
  </header>
  <div>
    <figure>
      <img src="/img/image-4.jpg" alt="">
    </figure>
        <figure>
      <img src="/img/image-5.jpg" alt="">
    </figure>
        <figure>
      <img src="/img/image-6.jpg" alt="">
    </figure>
        <figure>
      <img src="/img/image-7.jpg" alt="">
    </figure>
        <figure>
      <img src="/img/image-8.jpg" alt="">
    </figure>
        <figure>
      <img src="/img/image-9.jpg" alt="">
    </figure>
         <figure>
      <img src="/img/image-10.jpg" alt="">
    </figure>
  </div>
</section>
