<section class="gallery">
  <header>
    <h2>Gallery</h2>
  </header>
  <div class="image-gallery">
    <figure>
      <img src="/img/image-10.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-8.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-9.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-5.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-6.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-4.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>

    <figure>
      <img src="/img/image-5.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-6.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-7.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-10.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-8.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-9.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-4.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-5.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-6.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-8.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-9.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
    <figure>
      <img src="/img/image-4.jpg" alt="">
      <div class="overlay">
        <span>Image Title</span>
      </div>
    </figure>
  </div>
</section>
