<section class="gallery">
  <header>
    <h2>Gallery</h2>
    <p>Some of our best photos</p>
  </header>
  <div>
    <figure>
      <img src="/img/pexels-pok-rie-1905045.jpg" alt="">
    </figure>
        <figure>
      <img src="/img/pexels-yaroslav-shuraev-8692133.jpg" alt="">
    </figure>
        <figure>
      <img src="/img/woman-holding-snapchat-logo-with-his-friends-showing-thumbup-sign.jpg"alt="">
    </figure>
        <figure>
      <img src="/img/young-woman-shopping-clothes.jpg" alt="">
    </figure>
  </div>
</section>
