<header>
    <nav class="header-nav">
        <a href="/"><img alt="Logo" src="https://via.placeholder.com/200x70?text=Logo" height="70"></a>
        <ul class="header-nav_list">
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Calendar</a>
            </li>
            <li>
                <a href="#">Resources</a>
                <ul>
                    <li>
                        <a href="#">Resource 1</a>
                    </li>
                    <li>
                        <a href="#">Resource 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </nav>
    <hr>
</header>
