<section class="hero">
  <blockquote>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque doloribus aut corporis quis nihil nostrum quisquam, veritatis, corrupti modi repellendus similique eius adipisci illum suscipit asperiores aspernatur voluptates eum harum?
      <cite>John Doe</cite>
  </blockquote>
</section>
