<section class="hero">
  <header>
    <h1>Uber for X</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias optio nam deserunt, amet explicabo nisi illo autem ipsa ipsam harum similique obcaecati modi perferendis placeat natus vero. Explicabo, voluptates et.</p>
  </header>
  <div>
    <blockquote>
                "Quote"
                <footer>
        <i>- Attribution</i>
      </footer>
    </blockquote>

    <figure>
      <img alt="Stock photo" src="/img/image-14.jpg">
      <figcaption>
        <i>"Uber for X" brainstorming session</i>
      </figcaption>
    </figure>
  </div>
</section>
