<section class="hero">
    <section>
        <blockquote>
                "Quote"
                <footer>
                <i>- Attribution</i>
            </footer>
        </blockquote>
    </section>
    <hr>
    <article>
        <header>
            <h2>Product</h2>
            <p>You really need this product, so hurry and buy it today!</p>
            <a href="#" class="button">Buy Now</a>
        </header>
        <div class="hero__content">
            <figure>
                <img src="https://picsum.photos/200" alt=""/>
                <figcaption>Product to buy</figcaption>
            </figure>
        </div>
    </article>
</section>
