<ul class="social-media">
  <li>
    <a href="twitter">Twitter</a>
  </li>
  <li>
    <a href="facebook">Facebook</a>
  </li>
  <li>
    <a href="youtube">YouTube</a>
  </li>
  <li>
    <a href="linkedIn">LinkedIn</a>
  </li>
  <li>
    <a href="tiktok">TikTok</a>
  </li>
  <li>
    <a href="WhatsApp">WhatsApp</a>
  </li>
  <li>
    <i class="bi-alarm"></i>
  </li>
</ul>
