<ul class="social-media">
  <li>
    <a href="twitter">
      <i class="bi-twitter"></i>
    </a>
  </li>
  <li>
    <a href="facebook">
      <i class="bi-facebook"></i>
    </a>
  </li>
  <li>
    <a href="youtube">
      <i class="bi-youtube"></i>
    </a>
  </li>
  <li>
    <a href="linkedIn">
      <i class="bi-linkedin"></i>
    </a>
  </li>
  <li>
    <a href="tiktok">
      <i class="bi-tiktok"></i>
    </a>
  </li>
  <li>
    <a href="WhatsApp">
      <i class="bi-whatsapp"></i>
    </a>
  </li>
</ul>
