<nav class="header-nav">
  <a class="logo" href="/"><img alt="Logo" src="/img/logo/logo.svg" height="150rem"></a>
  <ul class="header-nav_list">
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Calendar</a>
    </li>
    <li>
      <a href="#">Resources</a>
      <ul>
        <li>
          <a href="#">Resource 1</a>
        </li>
        <li>
          <a href="#">Resource 2</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Contact Us</a>
    </li>
  </ul>
  <a class="button" href="#sign-up">Newsletter</a>
</nav>
