<section class="two-column">
  <div class="column-1">
    <h2>Column 2</h2>
    <figure>
      <img src="" alt="">
    </figure>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam assumenda ex rem illo corrupti sunt voluptatum soluta inventore sit doloribus necessitatibus, dolorem, temporibus ducimus voluptate consectetur. Aliquid impedit voluptatum incidunt.</p>
  </div>
</section>
