<section class="two-column">
  <div class="column-1">
    <header>
    <h2>About Us</h2>
    </header>
    <div>
      <figure>
        <img alt="Stock photo" src="/img/image-11.jpg">
        <figcaption>
          <i>"Uber for X" brainstorming session</i>
        </figcaption>
      </figure>

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel voluptas temporibus modi, a, eveniet iste minima aut quae saepe, quos sint? Fugit sequi unde, recusandae accusamus impedit provident est repellendus.</p>
    </div>
    <div>
      <figure>
        <img alt="Stock photo" src="/img/image-12.jpg">
        <figcaption>
          <i>"Uber for X" brainstorming session</i>
        </figcaption>
      </figure>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptates quo aperiam commodi tempora, dolorem eum asperiores fugit soluta ducimus? Voluptate saepe nemo ad explicabo earum officiis unde accusamus aspernatur!</p>
    </div>
    <div>
      <figure>
        <img alt="Stock photo" src="/img/image-13.jpg">
        <figcaption>
          <i>"Uber for X" brainstorming session</i>
        </figcaption>
      </figure>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat optio nam libero sed nostrum architecto deserunt eligendi maiores voluptatibus laudantium tempore, beatae quod. Architecto odio quisquam, fugit a sunt incidunt.</p>
    </div>
  </div>
</section>
