<div>
  <h1>
    <span>h1:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h1>
  <h2>
    <span>h2:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h2>
  <h3>
    <span>h3:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h3>
  <h4>
    <span>h4:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h4>
  <h5>
    <span>h5:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h5>
  <h6>
    <span>h6:</span>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h6>
 <p><span>p:</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, ipsum! Aliquid porro dolor deserunt corporis soluta inventore libero dolore sapiente ullam distinctio voluptas illo aspernatur iure officiis eveniet quia ipsam, voluptate debitis cumque. Quasi eveniet blanditiis minus rerum, rem iure fugiat. Quae nesciunt rem at optio minus consectetur quos aut.</p>
</div>

<div class="colors">
  <h2>Colors</h2>
  <ul>
    <li>Color Text</li>
    <li>Color Text Secondary</li>
    <li>Background Color</li>
    <li>Background Color Secondary</li>
    <li>Color Accent</li>
    <li>Color Secondary Accent</li>
    <li>
      <a href="#">Color link</a>
    </li>
    <li>Color Shadow</li>
    <li>Color Table</li>
    <li>Color Secondary</li>
  </ul>
</div>
